* {
    margin: 0;
    box-sizing: border-box;

}
#home{
    color: #7fad39;
}

#main {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr 1.3fr 1.5fr 0.9fr;
    grid-template-rows: 80px 80px 431px 271px 280px 271px 32px 33px 271px 32px 33px 350px 300px 150px 150px 150px 470px;
}

body {
    font-family: "Cairo", sans-serif;
}

header {
    background-color: #f5f5f5;

    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1.5fr 1.3fr 1.3fr 1.5fr 0.9fr;
    grid-template-rows: 47px;
    display: grid;
}
#headerprincipal{
    grid-column: 2/6;
    grid-row: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

header p {
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}

header svg {

    height: 14px;
    width: 14px;
}

.barra {
    border-left: 1px solid #6c757d41;
    height: 20px;
    padding-right: 12px;
}

#logos {
    width: 13%;
    display: flex;
    justify-content: space-between;
    margin-left: 30vh;
    align-items: center;
}

#bandeira {
    margin-left: 1.5%;
    margin-right: 1.5%;
    display: flex;
    align-items: center;
    width: 10%;
}
#header1{
    width: 67%;
    display: flex;
}
#header1 svg{
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin-top: 7px;
}

#bandeira img {
    width: 27px;
    height: 14px;
}

#english {
    padding-left: 10px;
    text-decoration: none;
    color: black;
    display: flex;
}

#english {
    position: relative;
}
#english svg{
    vertical-align: middle;
}

#menu-drop {
    position: absolute;
    list-style: none;
    padding: 5px 0;
    width: 100px;
    opacity: 0;
    transition: all 0.5s;
    z-index: -99;
    top: 43px;
    color: white;
    background-color: #222222;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 10px;
    height: 70px;

}


#english:hover #menu-drop {
    opacity: 1;
    z-index: 99;
    top: 28px;
}

#english svg {
    width: 7px;
    height: 7px;
    margin-left: 3px;

   
}
#svgbandeira{
    vertical-align: middle;
}


#prf {
    display: flex;
    justify-content:right;
    width: 10%;
}
#prf svg{
    margin-right: 7px;
}


#logo {
    grid-column: 2;
    padding-top: 10px;
}

#nav {
    grid-column: 3/6;
    display: flex;
    align-items: center;
}

#menu {
    width: 70%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
}
#divnavegacao2{
    width: 30%;
    display: flex;
    align-items: center;
}
#menu a {
    color: black;
    text-decoration: none;
}

#menu a:hover {
    color: #7fad39;
    transition: 0.3s;
}

#drop-menu {
    position: absolute;
    list-style: none;
    padding: 0;
    width: 180px;
    opacity: 0;
    transition: 0.5s;
    z-index: -99;
    top: 50px;
    color: white;
    background-color: #222222;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    padding-left: 10px;
    height: 110px;
}


#nav-drop {
    position: relative;
}

#nav-drop:hover #drop-menu {
    opacity: 1;
    z-index: 99;
    top: 28px;
}

#pages {
    position: relative;
}

#lishop:hover {
    color: #7fad39;
    transition: 0.3s;
}

#lishopping:hover {
    color: #7fad39;
    transition: 0.3s;
}

#licheck:hover {
    color: #7fad39;
    transition: 0.3s;
}

#liblog:hover {
    color: #7fad39;
    transition: 0.3s;
}
#navegacao{
    display: flex;
    width: 100%;
    align-items: center;
}

#svgnavegacao {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}


#navegacao svg {
    height: 14px;
    width: 14px;
    margin-right: 4%;
}

#item150{
        width: 60%;
        justify-content: right;
        display: flex;
}
#item {
    font-size: 14px;
    color: #6f6f6f;
}

#i150 {
    padding-left: 5px;
    font-size: 14px;
    font-weight: 900;
}

#menu {
    grid-column: 2;
    display: flex;
    width: 100%;

}

#menu label {
    position: relative;
    width: 100%;
    margin-right: 10%;

}

#menuclick{
    background-color:#7fad39;
    width: 100%;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 10px 30px;
}
#menuclick svg{
    width: 16px;
    height: 16px;
    vertical-align: middle;

}
#menudpt{
    color: white;
    font-weight: 900;
    font-size: 18px;
}
#drop-menu1{
    position: absolute;
    list-style: none;
    padding: 0;
    width: 100%;
    opacity: 0;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    top:50px;
    transition: 0.5s;
    color: black;
    border: solid 1px #ebebeb;
    font-weight: 400;
    height:463px;
    line-height: 40px;
    
}
#menudpt{
    position: relative;
}
#nav-check:checked ~#drop-menu1{
    opacity: 1;
    top: 60%;
    z-index: 99; 
}
#nav-check{
    display: none;
}


#busca {
    grid-column: 3/6;
    grid-row: 2;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

}

#buscaprincipal {
    width: 65%;
    height: 50px;
    border: solid 0.1px rgba(0, 0, 0, 0.096);
    display: flex;
    align-items: center;
}
#categorias {
    font-size: 16px;
    font-weight: 900;
    padding-left: 15px;
    display: flex;
    width: 37%;
}

#categorias svg {
    margin-left: 30px;
    width: 8px;

}

.barrac {
    border-left: 1px solid #6c757d41;
    height: 20px;
    padding-right: 12px;
    margin-left: 5%;
    margin-right: 2%;
}

#buscap2 {
    display: flex;
    align-items: center;
    width: 63%;

}

#imputbusca {
    border: none;
    font-family: "Cairo" sans-serif;
    height: 48px;
    width: 100%;
    outline: none;
}

#imputbusca::placeholder {
    font-size: 17px;
    color: rgba(0, 0, 0, 0.308);
    font-family: "Cairo";
    font-weight: 500;
}

#buscatotal button {
    background-color: #7fad39;
    color: white;
    padding: 11px 27px 11px;
    font-weight: 700;
    border: 0;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
    width: 100%;
}

#telefone {
    width: 35%;
    padding-left: 2%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: right;
}

#backtelefone svg {
    height: 14px;
    width: 14px;
    position:absolute;
    top: 34%;
    left: 34%;
}

#backtelefone {
    height: 50px;
    width: 50px;
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    border-radius: 100%;
    font-size: 18px;
}

#posiçaotelefone {

    height: 50px;
    align-items: center;
    position: right;
    width: 70%;
}

#numero {
    font-size: 18px;
    font-weight: 900;
    height: 22px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;

}

#suport {
    font-size: 14px;
    color: #6f6f6f;
    text-align: right;
}

#banner {
    grid-column: 3/6;
    grid-row: 3;
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 75px;
}

.bannerp1 {
    font-size: 14px;
    color: #7fad39;
    letter-spacing: 4px;
    font-weight: 800;
}

.bannerp2 {
    font-size: 46px;
    line-height: 52px;
    font-weight: 900;
    color: #252525;
    margin-block: 10px;
}

.bannerp3 {
    font-size: 16px;
    color: #6f6f6f;
    margin-bottom: 35px;
}

#banner button {
    background-color: #7fad39;
    color: white;
    padding: 10px 28px 10px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 0;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}

.produtos {
    display: flex;
    margin-top: 50px;
    grid-row: 4;
    grid-column: 2/6;
    justify-content: space-around;
    height: 271px;
}

#backproduto {
    width: 250px;
    height: 45px;
    background-color: white;
}

#p1 {
    grid-row: 4;
    grid-column: 2;
    background-image: url(cat-1.jpg);
    width: 25%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 15px;
    margin: 0px 1% 0px 0px;
    background-position: center;
}

#p1 a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    background: #ffffff;

    height: 45px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

#p2 {
    grid-row: 4;
    grid-column: 3;
    background-image: url(cat-2.jpg);
    width: 25%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 15px;
    margin: 0px 1% 0px 1%;
    background-position: center;
}

#p2 a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    background: #ffffff;
    padding: 12px 0 10px;
    height: 45px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

#p3 {
    grid-row: 4;
    grid-column: 4;
    background-image: url(cat-3.jpg);
    width: 25%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 15px;
    margin: 0px 1% 0px 1%;
    background-position: center;
}

#p3 a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    background: #ffffff;
    padding: 12px 0 10px;
    height: 45px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px
}

#p4 {
    grid-row: 4;
    grid-column: 5;
    background-image: url(cat-4.jpg);
    width: 25%;
    height: 270px;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 15px;
    margin: 0px 0px 0px 1%;
    background-position: center;
}

#p4 a {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    background: #ffffff;
    padding: 12px 0 10px;
    height: 45px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.fundobotaoproduto {
    background-color: white;
    width: 265px;
    height: 43px;
}

.fundobotaoproduto a {
    text-decoration: none;
}
#precop{
    grid-row: 5;
    grid-column: 2/6;
    color: black;
    margin-top: 70px;

}
.featured{
    font-size: 36px;
    font-weight: 800;
    justify-content: center;
    display: flex;

}
.riscoverde{
    bottom: -15px;
    height: 4px;
    width: 80px;
    background: #7fad39;

    margin: 0 auto;
}
#menup{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;

}
#menup1{
    width: 50%;
    display: flex;
    justify-content: space-evenly;

}
#menup1 a{
    text-decoration: none;
    color: black

}
.tdsp{
    grid-column: 2/6;
    grid-row: 6;
    display: flex;
    height: 271px;
}
#todosprodutos2{
    grid-column: 2/6;
    grid-row: 9;
    display: flex;
    margin-top: 30px;
    height: 271px;
}
#imgbanana{
    background-image: url(feature-2.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 0px ;
    background-position: center;
}
#imggoiaba{
    background-image: url(feature-3.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 1%;
    background-position: center;
}
#imguva{
    background-image: url(feature-5.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 1%;
    background-position: center;
}
#imgmanga{
    background-image: url(feature-7.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 0px 0px 1%;
    background-position: center;
}
#imgmaca{
    background-image: url(feature-8.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 0px;
    background-position: center;
}
#imghamburguer{
    background-image: url(feature-6.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 1%;
    background-position: center;
}
#imgcarne{
    background-image: url(feature-1.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 1% 0px 1%;
    background-position: center;
}
#imgmelancia{
    background-image: url(feature-4.jpg);
    height: 270px;
    width: 25%;
    margin: 0px 0px 0px 1%;
    background-position: center;
}
#imgbanana svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imggoiaba svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imguva svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imgmanga svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imgmaca svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imghamburguer svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imgcarne svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
#imgmelancia svg{
    position: relative;
    width: 30px;
    border-radius: 100%;
    background-color: white;
    padding: 7px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
}
.coracao{
    list-style: none;
    padding: 0;
    opacity: 0;
    z-index: -99;
    transition: 0.3s;
    position: absolute;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
    bottom: -293px;
    height: 50px;
}
.coracao-drop{
    position: relative;

}
#imgbanana:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}


#imggoiaba:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imguva:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imgmanga:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imgmaca:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imghamburguer:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imgcarne:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
#imgmelancia:hover .coracao{
    opacity: 1;
    z-index: 99;
    bottom: -260px;
}
.licoracao{
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.lireset{
    height: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.licarrinho{
    height: 100%;
    display: flex;
    align-items: center;
}
#imgbanana svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imggoiaba svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imguva svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imgmanga svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imgmaca svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imghamburguer svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imgcarne svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imgmelancia svg:hover path{
    fill: white;
    transition: 0.3s;
}
#imgbanana svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imggoiaba svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imguva svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imgmanga svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imgmaca svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imghamburguer svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imgcarne svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
#imgmelancia svg:hover{
    transform: rotate(360deg);
    background-color: #7fad39;
    transition: 0.3s;
}
.nomefrutas{
    grid-column: 2/6;
    grid-row: 7;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
}
.valorfrutas{
    grid-column: 2/6;
    grid-row: 8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
}
.espaco-nomeprodutos{
    margin-left: 3%;
    margin-right: 3%;
    width: 170px;
    text-align: center;
}
.nomefrutas2{
    grid-column: 2/6;
    grid-row: 10;
    display: flex;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.valorfrutas2{
    grid-column: 2/6;
    grid-row: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 60px;
}
#doisbanner{
    display: flex;
    justify-content: space-between;
    grid-column: 2/6;
    grid-row: 12;
    margin-top: 70px;
    height: 350px;
    align-items: center;
}
#banner1{
    height: 262px;
    width: 49%;
}
#banner1 img{
    width: 100%;
    height: 100%;
}
#banner2{
    height: 262px;
    width: 49%;
}
#banner2 img{
    width: 100%;
    height: 100%;
}
.trescolunas1{
    margin-top: 100px;
    grid-column: 2/6;
    grid-row: 13;
    display: flex;
    width: 100%;
    justify-content:space-evenly;

}
.trescolunas2{
    grid-column: 2/6;
    grid-row: 14;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: end;
}
.trescolunas3{

    grid-column: 2/6;
    grid-row: 15;
    display: flex;
    width: 100%;
    justify-content:space-evenly;
    align-items: end;
}

#trescolunas>div{
    width: 100%;
}
.titulo-coluna{
    font-size: 24px;
    font-weight: 800;
}
.img-coluna{
    width: 110px;
    height: 110px;
}
.div-fora{
    display: flex;
    margin-top: 40px;
}
.div-dentro{
    padding-left: 15px;
    padding-top: 10px;
}
.legenda1-coluna{
    margin-bottom: 8px;
}
.legenda2-coluna{
    font-weight: 900;
}
#titulo-final{
    grid-column: 2/6;
    grid-row: 16;
    margin-top: 40px;
}
#div-final1{
    grid-column: 2/6;
    grid-row: 17;
    margin-right: 5px;
}
#div-final2{
    grid-column: 2/6;
    grid-row: 17;
    margin-left: 5px;
    margin-right: 5px;
}
#div-final3{
    grid-column: 2/6;
    grid-row: 17;
    margin-left: 5px;
}
#final{
    display: flex;
    margin-top: 40px;
    height: 400px;
}
#final div{
    margin: 0 1% 0 1%;
}
#final img{
    width: 100%;
}
.textofinal{
    display: flex;
    align-items: center;
    color: #b6b6b6;
    width: 100%;
}
.textofinal svg{
    width: 16px;
    vertical-align: middle;

}
.textfinal{
    padding: 0px 25px 0px 5px;
    font-size: 16px;
}
.titulo-texto-final{
    font-size: 20px;
    color: #1c1c1c;
    font-weight: 800;
}
.texto-final{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    color: #6f6f6f;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}
#rodape{
    grid-row: 1;
    grid-column: 2/6;
    height: 470;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
#rodapetotal{
    display: flex;
    width: 100%;
}
#rodape-principal{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1.3fr 1.3fr 1.5fr 0.9fr;
    grid-template-rows: 370px 70px;
    background-color: #F3F6FA;
}
.texto1-rodape{
    width: 100%;
}
.coluna1-rodape{
    width: 33.33%;
    text-align: left;
    font-size: 16px;
    color: #1c1c1c;
    height: 250px;

}
.ul-rodape{
    display: flex;
    list-style: none;
    text-align: left;
    justify-content: left;
    padding-left: 0;
    font-size: 14px;
    width: 33.33%;
    height: 250px;
}
.ul-rodape ul{
    padding: 0;

}
.tamanho-ul{
    width: 150px;
}
.li-rodape{
    list-style: none;
    width: 100%;
    height: 32px;
}
.li-rodape a{
    text-decoration: none;
    color: black;
}
.negrito{
    font-weight: 800;
    width: 100%;
    font-size: 16px;
}
#coluna3-rodape{
    width: 33.33%;
    text-align: left;
    padding-left: 2%;
    font-size: 14px;
    height: 250px;
}
#imput-rodape{
    font-family: inherit;
    width: 100%;
}
#imput-rodape1{
    width: 100%;
}
#botao-imput{
    display: flex;
    margin-top: 30px;
    outline: none;
    border: none;
}
#botao-imput button{
    font-size: 14px;
    color: #ffffff;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    padding: 5px 30px 5px;
    background: #7fad39;
    border: none;
    font-family: "Cairo";
}
#botao-imput input{
    border: none;
    outline: none;
    height: 100%;
    padding: 10px;
    color: black;
}
#svg-rodape{
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-top: 20px;

}
#svg-rodape svg{
    width: 16px;
    height: 16px;
        margin-top: 25%;
    vertical-align: center;
}
.div-svg{
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    text-align: center;
}
#svg-rodape :hover path{
    fill: white;
    transition: 0.3s;
}
#svg-rodape :hover{
    background-color: #7fad39;
    transition: 0.3s;
}
#rodape-final{
    grid-column: 2/6;
    grid-row: 2;
    border-top:solid 1px  rgba(0, 0, 0, 0.098);
    display: flex;
    font-size: 16px;
    color: #6c757d;
    padding-top: 15px;
}
#rodape-final svg{
    width: 16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
}
#rodape-final a{
    color: #007bff;
    margin-left: 5px;
    padding-right: 70px;
    text-decoration: none;
}
#rodape-final a:hover{
    color: white;
}
#rodape-final{
    right: 100%;
}
#rodape-final-total{
    display: flex;
    width: 100%;
}
#imagemfinal{
    width: 40%;
    text-align: right;
}
#legenda-rodape{
    width: 60%;
    display: flex;
}